doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/hover-min.css')
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link href="/css/vendor/TimeCircles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  body

  include includes/header

  div.animated.fadeIn

    h1.center#groupname #{group}
    h1.center#lb Leaderboard

    .container-fluid
      .row
        .col-xs-6
          h2.center.lb Current Week
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          h2.center.lb Average Week
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          h2.center.lb Best Week
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
        .col-xs-6
          h2.center.lb Longest Trip
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          h2.center.lb Shortest Trip
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          h2.center.lb Total
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours
          .row.user-container
            .col-xs-5.col-sm-6
              img(src="#{picture}" class="img-circle img-responsive pull-right" id="profilepic")
            .col-xs-7.col-sm-6
              h2.user-info #{user.name}
              h3.money $15.83
              h3.hours 1.23 hours


